{% extends 'base.html' %}

{% block content %}


    <style type="text/css">
      img {
        width: 200px;
        padding-right: 10px;
        padding-bottom: 15px;
        padding-top: 5px;
      }
      #blogEntryBody {
        padding-top: 10px;
        padding-bottom: 50px;
        vertical-align: top;
      }
      .summary {
        display: inline-block;
        vertical-align: top;
        max-width: 700px;

      }
    </style>

    <main role="main">
      <div class="container">
        <br>
        <div id = "blogContent" >
          {% for blog in blogs.all %}
          <div id="blogEntryHeader" >
            <div id="blogTitle">
              <h3 class="display-5"><a class="text-secondary" href="/blog/{{ blog.id }}">{{ blog.title }}</a></h3>
            </div>
            <div class = "text-muted" id="blogDate">
              {{ blog.pub_date }}
            </div>
          </div>
          <div class = "text-lead" id="blogEntryBody">
            <img src="{{ blog.image.url }}">  <span class="summary"> {{ blog.summary }}</span>
          </div>
          <hr>
          {% endfor %}
        </div>

        </div>


      </div>
    </main>

  {% endblock %}
