{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}
      <section id = "jumbo" class="jumbotron-fluid">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <h1 class="display-3 ml-auto">Hi, I'm Mike</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-7">
              <p class="lead">Passionate about building great products, teams and culture.  </p>
              <p class="lead pt-4" id = "joor">Proud of the last 5 years I spent at <a href="https://jooraccess.com" target="_blank">JOOR</a>, building the largest wholesale fashion marketplace.</p>
              <p class="lead pt-4"> Ready for what's next.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 text-left ">
            </div>
            <div class="col-md-5" id="attr">
            </div>
          </div>
        </div>
      </section>

      <nav class="nav fixed-bottom navbar navbar-light" id="xx">
        <nav id = "navfooter" class="nav nav-pills ml-auto">
          <a class="nav-link" href="#builder">Builder</a>

          <a class="nav-link" href="#leader">Pacesetter</a>

          <a class="nav-link" href="#differenceMaker">Difference Maker</a>
        </nav>
      </nav>

      <div  class="tall alt" id="builder">
        <div class="container pb-4">
          <h1 class="pb-2">Builder</h1>
          <div class="row">
            <div class="col-md-8">

              <p>
                I've always been interested in creating and improving things.  My parents owned a bar when I was growing up
                and I learned early on how to use my hands to physically build things.  Painting, light carpentry, holding
                the ladder, mopping the floors, adding a new extension so we could serve lunch - it was all about continuously
                improving the business.  As we made changes and tried new ideas, I came to really enjoy the process.  Listening to
                customers, making changes, seeing the results and trying different things if they didn't work.
              </p>
              <p>
                I didn't realize it until much later, but those early experiences of building the family business sparked something in me.
                I love building things.  I enjoy not only the final finished product, but the thousand steps that got us there.  Making sure
                those steps are repeatable - keeping track of what works and throwing out what doesn't.
              </p>
              <p>
                Product Management is more than just a set of requirements and a deadline.  It's living in the product, understanding the
                right questions to ask, rolling up your sleeves and doing any task necessary and being grateful for the people who you're
                lucky enough to have using your products.
              </p>
              <p>
                I believe product leads, but it also serves.  A product team should lead by example and serve with it's results.
              </p>
            </div>
            <div class="col-md-4">
              <img src="{% static  'builder.png' %}" id="builderImg">
            </div>
          </div>
        </div>
      </div>
      <div class="tall" id="leader">
        <div class="container pb-4">
            <h1 class="pb-2">Pacesetter</h1>
            <div class="row">
              <div class="col-md-4 pb-4">
                <img src="{% static  'pacesetter.png' %}" id="paceSetter">
              </div>
              <div class="col-md-8">
                <p>
                  I belive in leading by example.  I was lucky enough to have really good mentors early in my career that never lectured me but
                  let me ask questions and learn from their example.  I learned the value of taking personal pride in my work, not being afraid to do things
                  I hadn't done before and being open and honest with my boss.  It's also really important for people on the team to see directors
                  working as hard if not harder than they are.
                </p>
                <p>
                  In my experience, teams perform at their highest when they have <span class="font-italic"><u>clarity on the goals</u></span>, are<span class="font-italic"><u> invested in the team's success</u></span>
                  and feel <span class="font-italic"><u>supported by their team</u></span> and the company.  My role as a leader in an organization is to set up this framework so the teams
                  can focus on the important work they're doing.
                </p>
                <p>
                  It's also important to be involved in the success and growth of individual team members.  It's important as a manager
                  to understand what motivates each team member and what they're looking to get out of their job.  I like to have
                  weekly one on ones with team members and weekly meetings with the teams on progress on our goals.
                </p>
              </div>
            </div>
          </div>
      </div>

      <div class="tall bg-light" id="differenceMaker">
        <main role="main" class="container pb-4">
          <h1 class="pb-2">Difference Maker</h1>
          <p>I pursued working at a startup in the hopes that my work would have meaning, not just to me
            but to the entire company.  I strive to be a difference maker by taking ownership, having a positive
            attitude and taking a lot of pride in my work.
          </p>
          <div >
            <div id = "management" class="media text-muted pt-3">
              <img src="{% static 'hiring.jpg' %}" alt="" class="mr-2 rounded icon" >
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Hiring & Management</strong>
                <span>Software: Glassdoor | Google Hire | jazz HR | G Suite | Slack</span><br>
                <span>Hiring and retaining talent is a great responsiblity and key to every great company's success.
                  From writing job specs and putting together interview kits, to setting up career development and
                  tracking goals, keeping a talented team motivated and growing is something I really enjoy.
                </span>
              </p>
            </div>

            <div id = "execution" class="media text-muted pt-3">
              <img src="{% static 'execution.jpg' %}" alt="" class="mr-2 rounded icon" >
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Execution</strong>
                <span>Software: JIRA | Confluence | Clubhouse.io | Trello</span><br>
                <span>Shipping product is about the team executing on it's plan and it takes a strong partnership of product, design and
                  engineering.  The bar must be set high by leadership and with the right people, who own the goals and planning/communication, great
                  product can be consistenly shipped.
                </span>
              </p>
            </div>


            <div id = "analytics" class="media text-muted pt-3">
              <img src="{% static 'analytics.jpg' %}" alt="" class="mr-2 rounded icon" >
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Product Analytics</strong>
                <span>Software & Skills: | SQL | Google Analytics | Mixpanel | Hotjar</span><br>
                <span>That which is measured, improves.  Analytics requires a lot of thoughful planning and dedication but when it's
                right, it's an incredible tool to understand your customers and track the success of your efforts.</span>
              </p>
            </div>
            <div id = "techincal" class="media text-muted pt-3">
              <img src="{% static 'tech.jpg' %}" alt="" class="mr-2 rounded icon" >
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Technical</strong>
                <span>Software & Skills: Unix | Charles Web Proxy | Git | iOS | XCode | Technical Troubleshooting | PHP/Python (Limited) | HTML | CSS | Bootstrap</span><br>
                <span>I've been lucky to work with some very technical and generous development teams over the years and learned a great deal about how modern web and mobile
                  apps work under the hood.  My time in software testing has also given me a lot of experience in troubleshooting which has come in
                   handy in launching products and releases.  I used my job search and building this website as an opportunity to learn how to use Django Web Framework,
                  Bootstrap, git and am deploying it to Heroku.  <a href="https://github.com/goredd5/mjhru" target="_blank">github/mjhru</a></span>
              </p>
            </div>
            <div id = "design" class="media text-muted pt-3">
              <img src="{% static 'design.jpg' %}" alt="" class="mr-2 rounded icon" >
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark"> Design & UX</strong>
                <span>Software: Photoshop | Invision | Sketch | Balsamiq</span><br>
                <span>In the early days of JOOR we didn't always have a dedicated design or UX team members so the PM team learned to work within the design & UX guidelines
                we had to continue to ship product.
                Over time we brought on full time designers & UX team members to have an equal footing with product and engineering in developing our
                product.  But this was invaluable experience and really helped us to understand our users. </span>


              </p>
            </div>

          </div>
        </main>

      </div>


  {% endblock %}
